<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
  <title>Hotel Management</title>
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
</head>
<body>
  <header>
    <nav>
      <h1>My Hotel</h1>
      <ul>
        <li><a href="{% url 'home-page' %}">Trang chủ</a></li>
        {% if role == 'admin' %}
         <li><a href="{% url 'manage-hotel' %}">Quản lý khách sạn</a></li>
         <li><a href="#">Quản lý phòng</a></li>
         <li><a href="#">Quản lý người dùng</a></li>
        {% endif %}
        <li><a href="#">Đăng xuất</a></li>
      </ul>
    </nav>
  </header>

  <section class="content">
    {% block content %}
    {% endblock %}
  </section>

  <footer>
    <p>&copy; 2023 My Hotel. All rights reserved.</p>
  </footer>

</body>
</html>
