{% extends 'main.html' %}

{% block content %}

<section class="manage-hotels">
    <h2>Quản lý khách sạn</h2>
    <div class="toolbar">
      <a href="{% url 'create-hotel' %}" class="button">Thêm khách sạn</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Tên khách sạn</th>
          <th>Số sao</th>
          <th>Quản lý</th>
        </tr>
      </thead>
      <tbody>
      {% for hotel in hotels %}
        <tr>
          <th>{{hotel.id}}</th>
          <td>{{hotel.hotel_name}}</td>
          <td>{{hotel.star_rating}}</td>
          <td>
            <a href="{% url 'update-hotel' hotel.id %}" class="button">Sửa</a>
            <a href="{% url 'delete-hotel' hotel.id %}" class="button">Xoá</a>
          </td>
        </tr>
      {% endfor %}
        <!-- Thêm các hàng khác tương tự -->
      </tbody>
    </table>
  </section>

{% endblock %}